ENVIRONMENT=DEV
APPLICATION_PORT=8000
APPLICATION_DB_CONTAINER=postgresdb
POSTGRES_USER=test
POSTGRES_DB=gatlinpush_db
POSTGRES_PASSWORD=gatlinpush
POSTGRES_HOST=postgresdb
POSTGRES_PORT=5432
APPLICATION_HOT=0.0.0.0
APPLICATION_APPLICATION_ROOT=/
AWS_ACCESS_KEY=my_aws_access_key
AWS_SECRET_ACCESS_KEY=my_aws_secret_access_key
AWS_REGION=us-east-1